* {
margin: 0;
padding:0;
}

.container{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("images/Login-background.png");
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 400px;
  height: 500px;
  position: relative;
  margin-top: 10%;
  margin-left: 35%;
  background: #eaddce;
  opacity: 0.8;
  padding: 5px;
  border-radius: 2%;
  box-shadow: 0 0 400px 10px #614729;
}
.avtar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -35px;
  position: absolute;
  left: 120px;
  filter: invert(15%) sepia(8%) saturate(1171%) hue-rotate(314deg) brightness(101%) contrast(87%);
}
.form-box h2{
  height: auto;
  width: auto;
  margin-top: 30px;
  margin-left: auto;
  text-align: center;
  font-size: 36px;
  color: #3B2F2F;
  cursor: default;
}
.report{

}
.sumbit1:hover,.submit2:hover{
  background-color: gray;
  color: #332515;
  transition: all 0.5s ease;
}
.sumbit1{
  height: auto;
  width: auto;
  margin-left: 92%;
  margin-top: 1%;
  font-size: 16px;
  display: block;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius:30px;
  cursor: pointer;
}
.submit2{
	
  height: auto;
  width: auto;
 margin-top:10px;
 margin-left:130px;
  font-size: 16px;
  display: block;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius:30px;
  cursor: pointer;

}
a {
       text-decoration: none;
}
.reptable{
   width: 100% auto;
   margin-left: 90px;
   margin-top: 30px;
}
table, th, td {
	
  border:1px solid black;
}